<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<!-- please adjust the connection string embedded in the element below to target the proper catalog / server using the proper user / password combination -->
		<add name="APPConnectionString.SQL Server (SqlClient)" connectionString="data source=localhost\sql2008r2;initial catalog=AppMasterDB;User ID=sa;Password=;persist security info=False"/>
	</connectionStrings>
</configuration> 